
:root {
    --primary-color: #77BEF0;
    --secondary-color: #FFCB61;
    --tertiary-color: #FF894F;
    --fourth-color: #EA5B6F;
    --font-family-header: "Bungee Tint";
    --font-family-body: "DM Sans";
    --font-family-clock: "Outfit";
    --font-size-header: 6em;
    --font-size-clock: 5rem;
    --font-size-body: 1.4em;
    --font-size-footer: 1.5em;

}

html {
    font-size: 62.5%;
}

body {
    background: #FFCB61;
    background: linear-gradient(270deg, rgba(255, 203, 97, 1) 34%, rgba(255, 137, 79, 1) 100%);
    padding: 20px;
}

header h1{
    text-align: center;
    font-size: var(--font-size-header);
    font-family: var(--font-family-header), sans-serif;
    margin: 20px auto 20px auto;
}

#main-frame {
    padding: 20px;
    background-color: var(--primary-color);
    max-width: 720px;
    margin: 10px auto 3px;
    border-radius: 10px;
}

#clock-container {
    padding: 30px;
    height: fit-content;
    max-width: 700px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: auto;

    font-family: var(--font-family-body), sans-serif;
    font-size: var(--font-size-body);
}

#city-selector {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-family-body), sans-serif;
    font-size: var(--font-size-body);
    border-radius: 6px;
}

hr {
    margin: 10px auto;
    border: solid 2px var(--tertiary-color);
}

.city-time {
    font-size: var(--font-size-clock);
    font-family: var(--font-family-clock), sans-serif;
}
.city-name {
    font-size: 3.4rem;
    font-weight: 900;
    margin: 1rem 1rem 1rem 0;
}
.city-date {
    font-size: var(--font-size-body);
}

.city-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



footer {
    text-align: center;
    font-size: var(--font-size-footer);
    font-family: var(--font-family-body), sans-serif;

}

footer a {
    color: #a1424f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: darkcyan;
}